[data]
    email = "{{ (onepasswordRead "op://Personal/Github (H8njo)/user[email]") }}"
    name = "{{ (onepasswordRead "op://Personal/Github (H8njo)/Enter a username*") }}"
    signingkey = "{{ (onepasswordRead "op://Personal/github (H8njo)/public_key") }}"
