[data]
    email = "{{ (onepasswordRead "op://Personal/Github-H8njo/username") }}"
    name = "{{ (onepasswordRead "op://Personal/Github-H8njo/Section_57xspjv5uah5arrl6yfdvj4geu/hpsh5mhpfdrctsew2yiwkg7gzu") }}"
    signingkey = "{{ (onepasswordRead "op://Personal/Github-H8njo-ssh/public key") }}"
